* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #2d2d2d;
}

span {
  margin: 0;
  padding: 0;
}

/* MAIN BACKGROUND */
.background {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1515428895957-2d42d4d88303?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* CARD */
#glass-card {
  min-height: 60vh;
  width: 50%;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );

  border-radius: 2rem;
  backdrop-filter: blur(1rem);
}

/* DATE / LOCATION / SEARCH BAR DASHBOARD */

.date {
  font-size: 2rem;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 30px;
}

.time {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.location {
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 10px;
  margin-left: 30px;
}

#current-city {
  font-weight: bold;
}

.searchbar {
  min-width: 50%;
  min-height: 35px;
  border-radius: 2rem;
  border: none;
  padding: 0.5rem;
  margin-left: 30px;
  margin-top: 10px;

  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );

  cursor: pointer;
}

.search-btn,
.currentBtn {
  margin-left: 20px;
  width: 80px;
  min-height: 35px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );

  border: none;
  border-radius: 2rem;
  box-shadow: 0 8px 15px rbga(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.currentBtn {
  width: 150px;
  font-size: 14px;
}

.search-btn:hover,
.currentBtn:hover {
  box-shadow: 0 8px 15px rgba(31, 31, 31, 0.1);
  transform: translateY(-4px);
}

/* TEMPERATURE CONTAINER */

.temperature {
  font-size: 8rem;
  text-align: center;
}

.degrees .metrics {
  margin: 0;
  padding: 0;
  position: absolute;
}

.celcius-unit,
.fahrenheit-unit {
  font-size: 2.5rem;
  color: #717171;
  text-decoration: none;
}

.celcius-unit:hover,
.fahrenheit-unit:hover {
  color: #a2a2a2;
}

.degrees .active {
  color: #2d2d2d;
  cursor: default;
  font-size: 5rem;
  text-decoration: none;
}
.degrees .active:hover {
  text-decoration: none;
}

.conditions {
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}
.icon {
  font-size: 2rem;
}
/* WEATHER DETAILS */
.weather-details {
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  top: 10px;
}

/* WEATHER CONTAINER */
.weekdays {
  background: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  position: relative;
  top: 15px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.weekdays li {
  color: black;
  list-style: none;
  display: inline;
  margin: 0 0 15px 0;
}

.col {
  padding-top: 25px;
}

.week-icons {
  font-size: 2rem;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 2;
}

.weekdays-temp {
  font-size: 2rem;
  line-height: 2;
  padding-left: 20px;
}

.footer {
  position: absolute;
  display: block;
  bottom: 2%;
  left: 2%;
  color: white;
}

.github-link,
.my-card {
  text-decoration: none;
  color: aliceblue;
}
